body {

  /* align-items: center; */
  background-color: rgb(250, 250, 250);

  /* display: flex;
  justify-content: center; */
  min-height: 100vh;
}

.loginContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.loginFormContainer {
  background-color: #292427;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
  margin: auto;
  padding: 86px 64px;
  top: 50%;
  width: 600px;
}

.loginContainer form {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.logo {
  align-items: center;
  display: flex;
  gap: 12px;
  margin-top: 72px;
}
